= simple_form_for mod do |f|
  = f.input :name, required: true
  = f.input :code, required: true
  = f.input :description
  = f.file_field :avatar, required: true
  = f.submit t('submit'), class: 'button'
